<div>
  <div id="portrait-component_">
    <div class="w-full" [style.height.px]="bandHeight()" #portraitArea>
      @if (chatTab && !vnMode.active()) {
        @if (chatTab.portraitDisplayFlag) {
          @if (isPortraitDispMode()) {
            @for (slot of portraitSlots(); track slot.pos) {
              @if (slot.imageFileUrl) {
                <img
                  class="pos absolute z-1 h-62.5 p-0 align-bottom"
                  [src]="slot.imageFileUrl | safe: 'resourceUrl'"
                  [ngStyle]="{
                    transform:
                      'translateX( calc( (' +
                      portraitAreaWidth() +
                      'px - 100% ) / 11 * ' +
                      slot.pos +
                      ' ) ) translateY(' +
                      portraitYPos() +
                      'px)',
                    'z-index': slot.zIndex,
                    opacity: slot.opacity,
                    height: slot.height + 'px',
                  }"
                  (mousedown)="portraitClick(slot.pos)"
                />
              }
            }
          }
        }
      }
    </div>
  </div>
</div>
